<ion-header>

  <ion-navbar>
    <ion-title>Create User</ion-title>
    <ion-buttons start *ngIf="backButtonNeeded">
      <button ion-button (click)="cancel()">
        <span ion-text>Cancel</span>
      </button>  
    </ion-buttons>
    <ion-buttons end>
      <button color="primary" clear ion-button (click)="inputFinished()" class="accept-button">Accept</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

 <ion-content padding>
  
      <ion-list no-lines>
        <ion-item class="name-item" no-lines>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="userName" (ionChange)="inputChanged()" maxlength="25"></ion-input>
        </ion-item>
        <ion-item>
          <p class="name-errors" *ngFor="let error of nameErrors" >{{ error }}</p>
          <p class="invisible-text" *ngIf="nameErrors?.length == 0" >empty</p>
        </ion-item>
      </ion-list>

      <div class="grid-container">
        <span class="grid-title">Subjects</span>
        <ion-grid text-center>
          <ion-row *ngFor="let count of [0,1,2]">
            <ion-col>
              <div *ngIf="cellVisible(1+2*count)">
                <div *ngIf="nextToAdd(1+2*count)" class="add-button">
                  <button color="light" clear full ion-button (click)="addButtonPressed()" class="grid-button"><ion-icon name="add"></ion-icon></button>
                </div>
                <button color="light" ion-button clear full *ngIf="!nextToAdd(1+2*count)" class="grid-button">
                  {{ subjects[2*count].code }}
                </button>
              </div>
              <div *ngIf="!cellVisible(1+2*count)">
                <div>
                  <button color="light" disabled="true" clear full ion-button class="grid-button"></button>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div *ngIf="cellVisible(2+2*count)">
                <div *ngIf="nextToAdd(2+2*count)" class="add-button">
                  <button color="light" clear full ion-button (click)="addButtonPressed()" class="grid-button"><ion-icon name="add"></ion-icon></button>
                </div>
                <button color="light" ion-button clear full *ngIf="!nextToAdd(2+2*count)" class="grid-button">
                  {{ subjects[2*count+1].code }}
                </button>
              </div>
              <div *ngIf="!cellVisible(2+2*count)">
                <div>
                  <button color="light"  disabled="true" clear full ion-button class="grid-button"></button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
         <!-- <div class="finished-button">
          <button clear ion-button (click)="inputFinished()">Finished</button>
        </div>   -->
      </div>
</ion-content> 