page-user-settings {

	button.back-button {
		color: map-get($colors, primary);
	}

	.profile-image-outer-container {
		padding-top: 20px;

		.profile-image-container {
			text-align: center;
			width: 35%;
			margin: 0 auto;
		}
	}

	.change-user {
		font-size: 10px;
	}

	ion-list.settings-list.list {
		margin-top: 20px;

		button.item {
			background-color: transparent;

			h2 {
				color: white;
			}
		}
	}

}
